[submodule "os/rt-thread"]
	path = os/rt-thread
	url = https://github.com/RT-Thread/rt-thread.git
[submodule "fs/fatfs"]
	path = fs/fatfs
	url = https://github.com/Doerthous/fatfs.git
[submodule "net/dts.net"]
	path = net/dts.net
	url = https://github.com/Doerthous/dts.net.git
[submodule "os/dts.coroutine"]
	path = os/dts.coroutine
	url = https://github.com/Doerthous/dts.coroutine.git
[submodule "os/FreeRTOS"]
	path = os/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "net/lwip"]
    path = net/lwip
    url = https://github.com/lwip-tcpip/lwip.git

[submodule "os/dts.eos"]
	path = os/dts.eos
	url = https://github.com/Doerthous/dts.eos.git
